.carousel .item,.jumbotron{max-height:650px;overflow:hidden}.carousel,.featurette-marketing>div,.jumbotron{margin-bottom:32px}.carousel-inner>.item>img,.jumbotron img{display:block;max-width:100%;height:auto!important}.navbar a,.navbar a:hover,a,a:hover,button,button:hover{transition:all .18s ease 0s}body{letter-spacing:.9px}.text-white{color:#FFF}.text-blue-bright{color:#4FA5F7}.carousel{margin-top:66px}.featurette-image-left-headline,.featurette-image-right-headline{margin-top:0}.carousel-control.left,.carousel-control.right{background:0 0}.carousel-caption{z-index:10}.carousel-inner>.item>img{width:100%;width:auto\9;-ms-interpolation-mode:bicubic}.featurette-image-left img,.featurette-image-right img,.featurette-jumbotron img,.featurette-marketing img{width:100%}.featurette-jumbotron-caption{position:absolute;left:15%;right:15%;bottom:30%;z-index:10;text-align:center}.jumbotron{margin-top:96px;padding:0}.jumbotron .row{margin-bottom:0}.jumbotron img{width:100%;width:auto\9}.navbar{border:none}.navbar-brand img{margin-top:-25px}.navbar-btn-contact{width:135px;color:#fff;background-color:transparent;border-color:#fff;margin-right:8px}.navbar-btn-contact:hover{background-color:#fff;color:#0565C0;border-color:#fff}.navbar-btn-contact:before{margin-right:10px}.footer{background:#0565C0;padding-top:32px;height:181px}.row{margin-bottom:32px}

.clear {
    clear: both;
}

.carousel {
    margin-bottom: 0 !important;
}

.featurette {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    
}

.featurette.full {
    max-width: 100%;
    
}

.featurette.full .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.content {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border-radius: 3px;
}

.icon {
    display:block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #C9D1C9;/*#4FA5F7;*/
    margin-bottom: 50px;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    padding: 25px;
}

h1, h2, h3 {
    color: #012546;
}

h1 {
    margin-bottom: 40px !important;
    margin-top: 60px !important;
    font-size: 32px;
}

@media screen and (max-width: 640px) {
    h1 {
        margin-top: 20px !important;
    }
}

p {
    line-height: 26px;
}

.h1 {
    line-height: 52px !important;
    margin-bottom: 40px;
    margin-top: 60px;
}

.featurette.featurette-quotation {
    background-color: white;
}

.featurette.featurette-quotation .h1 {
    color: white;
    margin: 0 auto;
    max-width: 768px;
}

.navbar-brand, .navbar-header, .navbar {
    min-height: 66px;
    height: 66px !important;
}

.navbar-btn {
    margin-top: 15px;
}

.navbar-toggle {
    margin-top: 15px;
}

.col-md-4, .col-md-6, .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.featurette-marketing p {
    padding-bottom: 40px;
}

@media screen and (max-width: 840px) {
    .featurette-marketing .col-md-6 {
        padding: 0 0;
    }
    
    .featurette-marketing .col-md-6 h3, .featurette-marketing .col-md-6 p {
        padding: 0 15px;
    }
}

.carousel-inner .container {
    width: 100%;
    max-width: 100%;
}

.carousel-caption {
    width: 75%;
    top: 00px;
}

.carousel-caption h1 {
    font-weight: 100;
    font-size: 80px;
    text-align: right;
    letter-spacing: 0.002em;
}

@media screen and (min-width: 640px) {
    .carousel-caption h1 {
        font-family: 'Alegreya Sans', sans-serif;
    }
}

@media screen and (max-width: 1024px) {
    .carousel-caption h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 850px) {
    .carousel-caption h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 640px) {
    .carousel-caption h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-caption h1 {
        font-size: 20px;
    }
}


.carousel-control {
    display: none;
}

.featurette-logoroster {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.featurette-logoroster img {
    height: 25px;
    margin-right: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
    width: auto;
    
}

@media screen and (max-width: 900px) {
    .featurette-logoroster img {
        height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .featurette-logoroster img {
        height: 15px;
        margin-bottom: 20px;
    }
}

.featurette-quotation {
    color: white;
    letter-spacing: 0.01em;
}

.featurette-quotation .h1 {
    letter-spacing: 0.06em;
}

@media screen and (max-width: 1300px) {
    .featurette-jumbotron-caption {
        bottom: 25%;
    }
}

@media screen and (max-width: 1100px) {
    .featurette-jumbotron-caption {
        bottom: 15%;
    }
}

@media screen and (max-width: 900px) {
    .featurette-quotation img {
        height: 300px;
        width: auto;
    }
    .featurette-jumbotron-caption {
        bottom: 30%;
        font-size: 14px;
    }
    
    .featurette.featurette-quotation .h1 {
        font-size: 26px;
        line-height: 36px !important;
    }
}

@media screen and (max-width: 768px) {
    .featurette-quotation img {
        height: 300px;
        width: auto;
    }
    .featurette-jumbotron-caption {
        bottom: 30%;
        font-size: 12px;
    }
    
    .featurette.featurette-quotation .h1 {
        font-size: 22px;
        line-height: 34px !important;
    }
}

@media screen and (max-width: 600px) {
    .featurette-quotation img {
        height: 300px;
        width: auto;
    }
    .featurette-jumbotron-caption {
        bottom: 30%;
        font-size: 12px;
    }
    
    .featurette.featurette-quotation .h1 {
        font-size: 18px;
        line-height: 32px !important;
    }
}

@media screen and (max-width: 530px) {
    .featurette-quotation img {
        height: 300px;
        width: auto;
    }
    .featurette-jumbotron-caption {
        bottom: 35%;
        font-size: 12px;
    }
    
    .featurette.featurette-quotation .h1 {
        font-size: 18px;
        line-height: 24px !important;
    }
}

@media screen and (max-width: 420px) {
    .featurette-quotation img {
        height: 300px;
        width: auto;
    }
    
    .featurette-jumbotron-caption {
        bottom: 25%;
        font-size: 10px;
    }
    
    .featurette.featurette-quotation .h1 {
        font-size: 18px;
        line-height: 22px !important;
    }
}

/* facebook button */

.featurette-jumbotron.full .featurette-jumbotron-caption {
    bottom: 45% !important;
}

.btn.facebook {
    border-color: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .featurette-jumbotron.full img {
        height: 300px;
        width: auto;
    }
    
    .featurette-jumbotron.full .featurette-jumbotron-caption {
        bottom: 40% !important;
    }
}

@media screen and (min-width: 860px) {
.row-fluid.featurette .col-md-4 {
    padding-bottom: 100px;
}
}

@media screen and (max-width: 860px) {
    .row-fluid.featurette {
        padding-bottom: 100px;
    }
}

.navbar-brand img {
    height: 43px;
}

footer {
    font-size: 12px;
}

footer .footerLogo {
    height: 40px;
    width: auto;
    fill: #4FA5F7;
}

footer .socialIcon {
    padding: 0 8px;
    margin: 8px 0;
    height: 15px;
    width: auto;
}

footer p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.moreLink {
    font-size: 15px;
}

.storeIcon {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: auto !important;
}