<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <img src="/img/rh-logo-white.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Resourceful Humans GmbH" class="logo">
      </div>
      <nav class="col-xs-10 offset-xs-1 icons m-t-3">
        <a href="tel:+493045094026" rel="me" target="_blank" title="Phone Resourceful Humans">
          <i class="ion ion-md-call" aria-hidden="true"></i>
        </a>
        <a href="mailto:info@resourceful-humans.com" rel="me" target="_blank" title="Email Resourceful Humans">
          <i class="ion ion-md-mail" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/rh_way" rel="me" target="_blank" title="Resourceful Humans on Twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/resourcefulhumans" rel="me" target="_blank" title="Resourceful Humans on Facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/2406108" rel="me" target="_blank" title="Resourceful Humans on LinkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://www.xing.com/companies/resourcefulhumans" rel="me" target="_blank" title="Resourceful Humans on XING">
          <i class="fa fa-xing" aria-hidden="true"></i>
        </a>
        <a href="https://vimeo.com/resourcefulhumans" rel="me" target="_blank" title="Resourceful Humans on Vimeo">
          <i class="fa fa-vimeo" aria-hidden="true"></i>
        </a>
        <a href="https://de.pinterest.com/hr2rh/resourceful-humans/" rel="me" target="_blank" title="Resourceful Humans on Pinterest">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
        <a href="https://angel.co/resourceful-humans" rel="me" target="_blank" title="Resourceful Humans on AngelList">
          <i class="fa fa-angellist" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ResourcefulHumans" rel="me" target="_blank" title="Resourceful Humans on GitHub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </nav>
      <div class="col-xs-12">
        <p class="text-xs-center m-t-3">
          <a href="/imprint.html">Imprint</a>
        </p>
      </div>
      <div class="col-xs-12 m-t-2">
        <p class="text-xs-center">
          <small>
            Made with ♥ in many places worldwide by Resourceful Humans GmbH.<br>
            © 2016 All rights reserved.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
