<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <img src="/img/rh-logo-white.svg?v=<%= data.version %>-<%= data.buildTime %>" alt="Resourceful Humans GmbH" class="logo">
      </div>
      <nav class="col-xs-10 offset-xs-1 icons m-t-3">
        <a href="tel:+4917620300937" rel="me" target="_blank" title="Phone Resourceful Humans">
          <i class="ion ion-md-call" aria-hidden="true"></i>
        </a>
        <a href="mailto:info@resourceful-humans.com" rel="me" target="_blank" title="Email Resourceful Humans">
          <i class="ion ion-md-mail" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/rh_way" rel="me" target="_blank" title="Resourceful Humans on Twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/resourcefulhumans" rel="me" target="_blank" title="Resourceful Humans on Facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/2406108" rel="me" target="_blank" title="Resourceful Humans on LinkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCEh2v8CmMmlvr-FhVg1_Vtw" rel="me" target="_blank" title="Resourceful Humans on YouTube">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </nav>
      <div class="col-xs-12">
        <p class="text-xs-center m-t-3">
          <a href="/imprint.html">Imprint</a>
        </p>
      </div>
      <div class="col-xs-12 m-t-2">
        <p class="text-xs-center">
          <small>
            Made with 100% Entrepreneurship | 0% Bureaucracy in many places worldwide by Resourceful Humans GmbH.
            <br> © 2016—2017 All rights reserved.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
