<div id="garage" class="check-visibility"  data-vide-bg="https://s3.eu-central-1.amazonaws.com/rh-web-assets/videos/garage" data-vide-options="posterType: jpg, autoplay: false, playbackRate: 0.5, loop: false">
  <article class="container">
    <header class="row">
      <div class="col-xs">
        <h2>The way back to the future of the original startup</h2>
      </div>
    </header>
    <div class="row logos">
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="award">
          <img src="/img/innovation-of-the-year-2014-human-resources-excellence-awards.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Innovation of the Year 2014 Human Resources Excellence Awards">
        </div>
        <div class="references flex-items-xs-middle">
          <div>
            <img src="/img/references/google.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Google">
          </div>
          <div>
            <img src="/img/references/lufthansa-kranich.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Lufthansa">
          </div>
          <div>
            <img src="/img/references/telekom.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Deutsche Telekom">
          </div>
        </div>
      </div>
      <div class="col-xs-5 offset-xs-1 col-md-4 offset-md-4 col-lg-3 offset-lg-6 flex-items-xs-middle flex">
        <img src="/img/gary-hamels-mixmashup-maverick-approach.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Gary Hamel's Mixmashup Maverick Aproach">
      </div>
    </div>
    <footer class="row">
      <div class="col-xs-12 text-xs-center">
        <p>People want to do a good Job. Given the proper Environment, they will do so.
          The Way of Resourceful Humans enables you to embed the timeless Management practise of Network Leadership with cutting-edge collaboration tools
          for a Culture of 100% Entrepreneurship | 0% Bureaucracy.
        </p>
        <p>
          <a href="#contact">Learn more</a>
        </p>
      </div>
    </footer>
  </article>
</div>
