<div id="captain" class="container testimonials">
  <article>
    <section aria-hidden="true"></section>
    <section class="col-xs even" aria-expanded="true">
      <h3><img src="/img/captain-david-marquet-s.png?v=<%= data.version %>-<%= data.buildTime %>" alt="David Marquet" width=512 height=512></h3>
      <blockquote>
        <p>This is the Way to creating Leaders at every Level!</p>
        <p role="note">
          David Marquet<br>
          <small>
            Captain (retired)<br>
            <span class="text-nowrap">USS Santa Fe</span><br>
            Author of the best-selling business book <span class="text-nowrap">&quot;Turn the Ship around&quot;</span>
          </small>
        </p>
      </blockquote>
    </section>
  </article>
</div>
