<div id="captain" class="container testimonials">
  <article>
    <section class="col-xs" aria-expanded="true">
      <h3><img src="/img/testimonials/frank.svg?v=<%= data.version %>-<%= data.buildTime %>" alt="Frank Kohl-Boas" width=512 height=512></h3>
      <blockquote>
        <p>
          The RH-Way is cutting edge in enabling repatriation of Leadership &amp; HR skills back into Teams, with convincing Culture Management Tools.
        </p>
        <p role="note">
          Frank Kohl-Boas<br>
          <small>
            Head of HR DACH, Nordics &amp; Benelux<br>
            Google
          </small>
        </p>
      </blockquote>
    </section>
  </article>
</div>
