<div id="testimonials" class="container">
  <article class="row check-visibility" aria-controls="testimonial-navigation">
    <h2 class="sr-only">What others are saying about The RH Way</h2>
    <section class="col-xs" aria-expanded="true">
      <h3><img src="/img/testimonials/david.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="David Marquet" width=512 height=512></h3>
      <blockquote>
        <p>The Way to creating Leaders at every level is The Way of Resourceful Humans!</p>
        <p role="note">
          David Marquet<br>
          <small>
            Captain (retired)<br>
            USS Santa Fe<br>
            Author of the best-selling business book &quot;Turn the Ship around&quot;
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/frank.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Frank Kohl-Boas" width=512 height=512></h3>
      <blockquote>
        <p>
          The Way is cutting edge in Enabling repatriation of Leadership &amp; HR skills back into teams, with convincing Culture Management Tools.
        </p>
        <p role="note">
          Frank Kohl-Boas<br>
          <small>
            Head of HR DACH, Nordics &amp; Benelux<br>
            Google
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/gilbert.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Gilbert Probst" width=512 height=512></h3>
      <blockquote>
        <p>
          Democracy is the best known approach to systemically tackle Complexity.
          The RH-Way provides the most humble and thoughtful framework to implement an entrepreneurial Network in any social system.
        </p>
        <p role="note">
          Professor Gilbert Probst<br>
          <small>
            Managing Director World Economic Forum<br>
            Professor of HEC, University of Geneva
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/heiko.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Heiko Fischer" width=512 height=512></h3>
      <blockquote class="long">
        <p>
          By combining the visions of autonomous teams and multiplayer games we created something unique, addressing the needs of networked organisations.
          We designed aiRH as an entirely new kind of technology, completely changing the way people work together.
        </p>
        <p role="note">
          Heiko Fischer<br>
          <small>
            Founder & CEO<br>
            Resourceful Humans GmbH
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/gary.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Gary Hamel" width=512 height=512></h3>
      <blockquote class="long">
        <p>
          Top-Down approaches like Holacracy won’t fix Bureaucracy, only emergent, collaborative &amp; iterative approaches will.
          For years, The RH-Way has been a maverick approach working at the front-lines of organisations as human, as resilient, inventive, and inspiring - as the human beings who work inside them.
        </p>
        <p role="note">
          Gary Hamel<br>
          <small>
            Ranked by The Wall Street Journal as the world’s most
            influential business thinker. Fortune magazine called him
            <q>The world’s leading expert on business strategy.</q>
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/mark.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Mark Klein" width=512 height=512></h3>
      <blockquote>
        <p>
          I love The RH-Way as a means to transform an existing organisation into an agile network, with tools out-of-the-box, ready to roll.
        </p>
        <p role="note">
          Mark Klein<br>
          <small>
            former CEO T-Mobile Netherlands B.V.<br>
            Chief Digital Officer ERGO Digital Ventures AG
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/clovis.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Clovis da Silva Bojikian" width=512 height=512></h3>
      <blockquote>
        <p>
          SEMCO was created exactly as the Way of Resourceful Humans proposes.<br>
          No HR. No Management.<br>
          Everybody leads.
        </p>
        <p role="note">
          Clovis da Silva Bojikian<br>
          <small>Guru RH SEMCO Group</small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/dave.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Dave Ulrich" width=512 height=512></h3>
      <blockquote>
        <p>
          I love The RH-Way as a framework for Vanguard HR Organisations to think about what to get out of Talent going forward.
        </p>
        <p role="note">
          Dave Ulrich <br>
          <small>Professor at the Ross School of Business<br></small>
          University of Michigan
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/marc.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Marc Stoffel" width=512 height=512></h3>
      <blockquote class="long">
        <p>
          We believe that employees run Companies.
          That is why we chose to operate democratically.
          We love to be a successful case for how The RH-Way works for our Customers.
        </p>
        <p role="note">
          Marc Stoffel <br>
          <small>
            Democratically elected CEO<br>
            Haufe-umantis AG
          </small>
        </p>
      </blockquote>
    </section>
    <section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/katarina.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Katarina Berg" width=512 height=512></h3>
      <blockquote>
        <p>
          The RH-Way simply gets stuff done.
        </p>
        <p role="note">
          Katarina Berg <br>
          <small>
            VP HR <br>
            Spotify
          </small>
        </p>
      </blockquote>
    </section>
    <!-- section class="col-xs" aria-expanded="false">
      <h3><img src="/img/testimonials/kelly.svg?v=<%= data.version %>-<%= data.deployVersion %>" alt="Kelly Max" width=512 height=512></h3>
      <blockquote>
        <p></p>
        <p role="note">
          Kelly Max<br>
          <small>
            Democratically elected CEO<br>
            Haufe USA, Inc.
          </small>
        </p>
      </blockquote>
    </section -->
  </article>
  <nav class="row" id="testimonial-navigation">
    <div class="col-xs">
      <span role="checkbox" aria-checked="true"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span>
      <!-- span role="checkbox" aria-checked="false"><i class="ion ion-md-radio-button-off"></i><i class="ion ion-md-radio-button-on"></i></span -->
    </div>
  </nav>
</div>
