<div class="scrolltrap">
  <div id="the-rh-way" class="features container">
    <article>
      <header>
        <div class="row">
          <div class="col-xs">
            <h2>The <span class="good">100% Entrepreneurship</span> | <span class="bad">0% bureaucracy</span><br>way of management</h2>
          </div>
        </div>
        <div class="row hidden-md-down origin">
          <div class="col-xs flex flex-items-xs-center">
            <%= svg['rh-circle'] %>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="lane col-xs-12 col-lg-6">
          <div class="logo row check-visibility">
            <div class="visual col-xs-8 offset-xs-2 col-lg-12 offset-lg-0 text-lg-center">
              <object class="illustration"><%= svg['THE_RH-WAY-white'] %></object>
            </div>
            <div class="col-xs-12 text-xs-center">
              <p>
                Network<br>
                Management<br>
                Framework
              </p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle half-spacer check-visibility">
            <div class="visual col-xs-3 col-lg-4">
              <object class="illustration"><%= svg['network-structure'] %></object>
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 col-lg-7 offset-lg-0 text-lg-right">
              <p>
                Customer-focused<br>network structure
              </p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle full-spacer check-visibility">
            <div class="visual col-xs-3 col-lg-5">
              <object class="illustration"><%= svg['leadership-on-all-levels'] %></object>
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 col-lg-6 offset-lg-0 text-lg-right">
              <p>
                Leadership on<br>all levels
              </p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle full-spacer check-visibility">
            <div class="visual col-xs-3 col-lg-5">
              <object class="illustration"><%= svg['want-can-enable'] %></object>
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 col-lg-6 offset-lg-0 text-lg-right">
              <p>
                Total discipline<br>&amp; innovation
              </p>
            </div>
          </div>
        </div>
        <div class="lane col-xs-12 col-lg-6">
          <div class="logo row check-visibility">
            <div class="visual col-xs-4 offset-xs-4 col-lg-12 offset-lg-0 text-lg-center">
              <object class="illustration"><%= svg['aiRH-logo-white'] %></object>
            </div>
            <div class="col-xs-12 text-xs-center">
              <p>Simple. Social. Realtime.</p>
              <p>Peer-to-peer Technology</p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle full-spacer check-visibility">
            <div class="devices col-xs-3 col-lg-6 push-lg-6">
              <object class="device"><%= svg['ipad'] %></object>
              <img src="/img/networhk.jpg" alt="Screenshot of netwoRHk" width="692" height="515">
              <object class="device"><%= svg['iphone'] %></object>
              <img src="/img/networhk-notification.jpg" alt="Screenshot of a netwoRHk notification" width="182" height="329">
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 offset-lg-0 col-lg-6 pull-lg-5">
              <p>
                Network<br>performance
              </p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle full-spacer check-visibility">
            <div class="left devices col-xs-3 col-lg-6 push-lg-6">
              <object class="device"><%= svg['ipad'] %></object>
              <img src="/img/starhmap.jpg" alt="Screenshot of a staRHmap" width="690" height="517">
              <object class="device"><%= svg['iphone'] %></object>
              <img src="/img/starhs-app-share.jpg" alt="Screenshot of the staRHs' app share screen" width="178" height="317">
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 offset-lg-0 col-lg-6 pull-lg-5">
              <p>
                Peer-to-peer<br>feedback
              </p>
            </div>
          </div>
          <div class="row flex flex-items-xs-middle full-spacer check-visibility">
            <div class="devices col-xs-3 col-lg-6 push-lg-6">
              <object class="device"><%= svg['ipad'] %></object>
              <img src="/img/carhds-app.jpg" alt="Screenshot of the caRHds app" width="688" height="517">
              <object class="device"><%= svg['iphone'] %></object>
              <img src="/img/carhds-card-customer.jpg" alt="Screenshot of the caRHds app with the flipped customer card" width="168" height="303">
            </div>
            <div class="col-xs-9 col-sm-8 offset-sm-1 offset-lg-0 col-lg-6 pull-lg-5">
              <p>
                Meaningful<br>Meetings
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<div id="the-rh-way-illustrated" class="check-visibility playable-video" data-vide-bg="https://s3.eu-central-1.amazonaws.com/rh-web-assets/videos/the-rh-way-illustrated" data-vide-options="posterType: jpg, autoplay: false, loop: false, muted: false">
  <div class="play-overlay">
    <i class="ion ion-ios-play-outline control" aria-hidden="true"></i>
    <!--
    <div class="share">
      Watch on:
      <a class="btn btn-youtube" href="#" target="_blank" title="Watch The RH-Way Illustrated on YouTube">
        <i class="fa fa-youtube" aria-hidden="true"></i> YouTube
      </a>
    </div>
    <div class="share">
      Share on:
      <a class="btn btn-twitter" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fyt.com&text=The%20RH-Way%20Illustrated:%20http%3A%2F%2Fyt.com&via=RH_Way" target="_blank" title="Share The RH-Way Illustrated on Twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i> <span class="hidden-xs-down">Twitter</span>
      </a>
      <a class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyt.com&t=The%20RH-Way%20Illustrated" target="_blank" title="Share The RH-Way Illustrated on Facebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> <span class="hidden-xs-down">Facebook</span>
      </a>
      <a class="btn btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fsharingbuttons.io&amp;title=TEXT&amp;summary=TEXT&amp;source=http%3A%2F%2Fsharingbuttons.io" target="_blank" title="Share The RH-Way Illustrated on LinkedIn">
        <i class="fa fa-linkedin" aria-hidden="true"></i> <span class="hidden-xs-down">LinkedIn</span>
      </a>
      <a class="btn btn-xing" href="https://www.xing.com/app/user?op=share;url=http%3A%2F%2Fsharingbuttons.io;title=TEXT" target="_blank" title="Share The RH-Way Illustrated on XING">
        <i class="fa fa-xing" aria-hidden="true"></i> <span class="hidden-xs-down">XING</span>
      </a>
    </div>
    -->
  </div>
</div>
