<div id="tools">
  <article class="container">
    <header class="row">
      <div class="col-xs text-xs-center">
        <%= svg['aiRH-logo'] %>
        <h2 class="mt-2">
          100% Human Technology<br>
          <small>Simple. Social. Realtime.</small>
        </h2>
      </div>
    </header>
    <section class="row">
      <div class="col-xs-12 col-lg-4 mt-3">
        <p><%= svg['staRHs-Logo'] %></p>
        <h3><em class="good">staRHs</em> is the simple, social, realtime tool to share positive recognition!</h3>
        <p>
          You see someone doing something great, <em class="good">staRHs</em> gives you the means to let them know immediately. The result? People feel good about their contribution, knowing others see and value their efforts. It will motivate them to keep on doing a great job! Same goes for you. Imagine receiving positive feedback anytime for your good work. That’s <em class="good">staRHs</em> - everybody is focused on sharing feedback as part of their normal job.
        </p>
        <p class="hidden-md-up">
          <a href="#contact">
            Contact us to learn about staRHs and schedule a demo!
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 mt-3">
        <p><%= svg['caRHds-Logo'] %></p>
        <h3>Make your next meetings worthwile with <em class="good">caRHds</em> now!</h3>
        <p>
          Imagine 100% effective meetings with no more excuses about wasted time.<br>
          <em class="good">caRHds</em> enables everybody’s voice to be heard.<br>
          No matter if you are physically in the room or joining virtually from half a world away.<br>
          Simply tap the card and contribute to making the meeting worth your while!
        </p>
        <p class="hidden-md-up">
          <a href="https://caRHds.me" target="_blank" rel="me">
            Learn more and try <em class="good">caRHds</em> for free!
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4 mt-3">
        <p><%= svg['netwoRHk-Logo'] %></p>
        <h3>Performance Management of, for &amp; by networked teams</h3>
        <p>
          Connect everybody to the Customer. With <em class="good">netwoRHk</em> entrepreneurial teams create contributions and stay aligned with 0% bureaucracy.<br>
          <em class="good">netwoRHk</em> makes work unbelievably simple. It turns work into a social marketplace for peer commitments. Visualize how your company’s goals are connected, how they’re coming along, and who’s responsible for them.
        </p>
        <p class="hidden-md-up">
          <a href="https://netwoRHk.net" target="_blank" rel="me">
            Learn more!
          </a>
        </p>
      </div>
    </section>
    <section class="row hidden-md-down">
      <div class="col-xs-12 col-lg-4">
        <p>
          <a href="#contact">
            Contact us to learn about staRHs and schedule a demo!
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <p>
          <a href="https://caRHds.me" target="_blank" rel="me">
            Learn more and try <em class="good">caRHds</em> for free!
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-lg-4">
        <p>
          <a href="https://netwoRHk.net" target="_blank" rel="me">
            Learn more!
          </a>
        </p>
      </div>
    </section>
  </article>
</div>
