body, html {
  height: 100%;
}

body {
  background: $body-bg;
  @include gradient();
  font-style: Normal;
  font-weight: Normal;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

html.font-loaded {
  body {
    font-family: "Agenda Thi Cond", sans-serif;
    letter-spacing: 0;
  }
}

img {
  max-width: 100%;
}

em {
  font-style: normal;
}

.flex {
  display: flex;
}

dt {
  font-weight: normal;
}

.btn {
  text-transform: uppercase;
}
