.hero-video {
  position: relative;
  overflow: hidden;
  height: 100%;
  img.logo {
    width: 50%;
    @include float-right();
    margin-top: 2rem;
  }
  section {
    position: relative;
    height: 100%;
  }
  nav {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      font-size: 125%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 175%;
    }
    a {
      display: block;
      color: $body-color;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    i.ion {
      margin-left: 0.25rem;
    }
  }

  *[role=heading] {
    text-transform: uppercase;
    white-space: nowrap;
    color: rgba(invert($body-color), 0.85);
    text-align: right;
    line-height: 120%;
    font-size: 100%;
    padding-top: 100px;
    @include media-breakpoint-up(md) {
      font-size: 110%;
      padding-top: 125px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 200%;
      padding-top: 150px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 250%;
      padding-top: 200px;
    }
    p {
      font-size: 100%;
    }
    h1 {
      font-size: 110 / 66.66 * 100%;
      small {
        font-size: 66.66%;
      }
    }
    .vertical-text-slider {
      position: absolute;
      right: $grid-gutter-width-base / 2;
      color: $body-color;
      text-shadow: 0 2px 4px rgba(invert($body-color), 0.85);
      .good {
        color: $good-color;
      }
      .bad {
        color: $bad-color;
      }
      *[role=list] {
        position: absolute;
        right: 0;
        *[role=listitem] {
        }
      }
    }
    div.logo {
      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

#rhcircle {
  position: absolute;
  top: -1000px;
  left: -1000px;
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: rgba(invert($body-color), 0.85) !important;
    }
  }
}

// Hide until webfont loaded
#rhcircle, .hero-video .container {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

html.font-loaded {
  #rhcircle, .hero-video .container {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
}
