@mixin gradient($darken:0%) {
  background: darken($brand-primary, $darken);
  background: -moz-radial-gradient(center, circle cover, darken($brand-primary, $darken) 0%, darken($brand-secondary, $darken) 100%);
  background: -webkit-radial-gradient(center, circle cover, darken($brand-primary, $darken) 0%, darken($brand-secondary, $darken) 100%);
  background: radial-gradient(circle at center, darken($brand-primary, $darken) 0%, darken($brand-secondary, $darken) 100%);
}

@mixin spacing-bottom() {
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    padding-bottom: 3rem;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 4rem;
  }
}

@mixin spacing-top() {
  padding-top: 2rem;
  @include media-breakpoint-up(md) {
    padding-top: 3rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 8rem;
  }
}

@mixin spacing() {
  @include spacing-top();
  @include spacing-bottom();
}

@mixin section-headline() {
  text-transform: uppercase;
  text-align: center;
  @include section-text(1.125);
}

@mixin section-text($scale:1) {
  font-size: 175% * $scale;
  line-height: 2rem * $scale;
  @include media-breakpoint-up(md) {
    font-size: 266% * $scale;
    line-height: 3.5rem * $scale;
  }
  @include media-breakpoint-up(lg) {
    font-size: 355% * $scale;
    line-height: 5rem * $scale;
  }
}
