@import "shared/features";

#features {
  .origin {
    @include spacing-top();
  }
  h3 {
    text-transform: uppercase;
  }
  h2 {
    @include section-headline(1);
  }
  p {
    @include section-text(0.3);
  }
  .bad-to-good {
    margin-top: 2rem;
  }
}

#health-engine {
  svg {
    width: 25%;
    float: right;
    margin-right: 40%;
  }
}

#networhk-integrations {
  display: flex;
  align-items: center;
  flex-direction: row;
  svg {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
  }
}
