@import "shared/features";

#features {
  .origin {
    @include spacing-top();
  }
  h3 {
    @include section-headline(0.7);
    text-transform: uppercase;
    text-align: left;
  }
  .bad-to-good {
    margin-top: 2rem;
  }
}

.features {
  .health-engine {
    svg {
      @include media-breakpoint-up(sm) {
        width: 35%;
        float: right;
        margin-right: 25%;
      }
    }
  }
}

.networhk-integrations {
  svg {
    width: 100%;
    max-width: 100%;
    @include media-breakpoint-up(sm) {
      padding: 1rem;
    }
  }
}
