@mixin animateOnVisible() {
  &.was-visible {
    @include media-breakpoint-up(lg) {
      animation: come-in 2s ease forwards;
    }
  }
}

@keyframes come-in {
  to {
    transform: translateX(0);
  }
}

#the-rh-way {
  h2 {
    @include section-headline();
    @include spacing();
    .good {
      color: $good-color;
      white-space: nowrap;
    }
    .bad {
      color: $bad-color;
      white-space: nowrap;
    }
    font-size: 150%;
  }
  svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  p {
    text-transform: uppercase;
    margin: 0;
    @include section-text(0.52);
  }
  .logo {
    .visual {
      svg {
        @include media-breakpoint-up(lg) {
          height: 150px;
        }
      }
    }
  }
  .devices {
    position: relative;
    svg:first-child {
      width: 100%;
    }
    svg:nth-child(3), img {
      position: absolute;
    }
    img {
      border: 1px solid #7e89a3;
      &:nth-child(2) {
        top: 3.125%;
        left: 16%;
        width: 66%;
        height: auto;
        @include media-breakpoint-up(md) {
          width: 68%;
        }
        @include media-breakpoint-up(lg) {
          left: 14%;
          width: 74%;
        }
      }
      &:nth-child(4) {
        bottom: 11%;
        right: 1.5%;
        width: 19.5%;
        height: auto;
      }
    }
    svg:nth-child(3) {
      display: block;
      right: 0;
      bottom: 0;
      height: 75%;
    }
    &.left {
      svg:nth-child(3) {
        left: 0;
      }
      img:nth-child(4) {
        left: 1.5%;
      }
    }
  }
  .full-spacer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 20rem;
      margin-bottom: 5rem;
    }
  }
  .half-spacer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
  div.lane {
    .logo {
      @include media-breakpoint-up(lg) {
        transform: translateX(-200%);
        @include animateOnVisible();
      }
    }
    .row {
      &.half-spacer, &.full-spacer {
        @include media-breakpoint-up(lg) {
          transform: translateX(-200%);
          position: relative;
          &:after {
            width: 27px;
            height: 27px;
            content: " ";
            border-radius: 100%;
            border: 27px solid #fff;
            position: absolute;
            right: -27px;
            top: 50%;
            transform: translateY(-27px);
          }
          @include animateOnVisible();
        }
      }
    }
    &:last-child {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $body-color;
      }
      .logo {
        @include media-breakpoint-up(lg) {
          transform: translateX(200%);
        }
      }
      .row {
        @include media-breakpoint-up(lg) {
          &.half-spacer, &.full-spacer {
            transform: translateX(200%);
            &:after {
              left: -25px;
              width: 25px;
              height: 25px;
              content: " ";
              border-radius: 100%;
              border: 25px solid $brand-primary;
              position: absolute;
              top: 50%;
              transform: translateY(-25px);
            }
            &:before {
              width: 27px;
              height: 27px;
              content: " ";
              border-radius: 100%;
              border: 27px solid $body-color;
              position: absolute;
              left: -27px;
              top: 50%;
              transform: translateY(-27px);
            }
          }
        }
      }
    }
  }
}

#the-rh-way-origin {
  align-items: center;
  svg {
    width: 75px;
    height: 75px;
    background-color: $body-color;
    border: 3px solid $body-color;
    border-radius: 100%;
  }
}
