@mixin animateOnVisible() {
  &.was-visible {
    @include media-breakpoint-up(lg) {
      animation: come-in 2s ease forwards;
    }
  }
}

@keyframes come-in {
  to {
    transform: translateX(0);
  }
}

.scrolltrap {
  // Wrap .features in this to eliminate horizontal scrollbars
  overflow: hidden;
}

.features {
  h2 {
    @include spacing();
    .good {
      color: $good-color;
      white-space: nowrap;
    }
    .bad {
      color: $bad-color;
      white-space: nowrap;
    }
    font-size: 150%;
  }
  .illustration svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  p {
    margin: 0;
  }
  p + p {
    margin-top: 1rem;
  }
  .logo {
    .visual {
      svg {
        @include media-breakpoint-up(lg) {
          height: 150px;
        }
      }
    }
  }
  .full-spacer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 20rem;
      margin-bottom: 5rem;
    }
  }
  .half-spacer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
  div.lane {
    .logo {
      @include media-breakpoint-up(lg) {
        transform: translateX(-200%);
        @include animateOnVisible();
      }
    }
    .row {
      &.half-spacer, &.full-spacer, &.no-spacer {
        @include media-breakpoint-up(lg) {
          transform: translateX(-200%);
          position: relative;
          @include animateOnVisible();
        }
      }
      &.half-spacer, &.full-spacer, &.with-bullet {
        @include media-breakpoint-up(lg) {
          &:after {
            width: 27px;
            height: 27px;
            content: " ";
            border-radius: 100%;
            border: 27px solid #fff;
            position: absolute;
            right: -27px;
            top: 50%;
            transform: translateY(-27px);
          }
        }
      }
      &.no-bullet {
        @include media-breakpoint-up(lg) {
          &:after {
            display: none;
          }
        }
      }
    }
    &:last-child {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $body-color;
      }
      .logo {
        @include media-breakpoint-up(lg) {
          transform: translateX(200%);
        }
      }
      .row {
        @include media-breakpoint-up(lg) {
          &.half-spacer, &.full-spacer, &.no-spacer {
            transform: translateX(200%);
          }
          &.half-spacer, &.full-spacer, &.with-bullet {
            &:after {
              left: -25px;
              width: 25px;
              height: 25px;
              content: " ";
              border-radius: 100%;
              border: 25px solid $brand-primary;
              position: absolute;
              top: 50%;
              transform: translateY(-25px);
            }
            &:before {
              width: 27px;
              height: 27px;
              content: " ";
              border-radius: 100%;
              border: 27px solid $body-color;
              position: absolute;
              left: -27px;
              top: 50%;
              transform: translateY(-27px);
            }
          }
          &.no-bullet {
            &:after, &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .origin {
    align-items: center;
    svg {
      width: 75px;
      height: 75px;
      background-color: $body-color;
      border: 3px solid $body-color;
      border-radius: 100%;
    }
  }
}
