<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= data.description %>">
  <meta name="version" content="<%= data.version %>-<%= data.deployVersion %>">
  <title><%= data.appName %></title>
  <base href="/">
  <link rel="stylesheet" href="/css/index.min.css?v=<%= data.version %>-<%= data.deployVersion %>">
  <link rel="canonical" href="<%= data['webHost'] %>/" />
  <%= includes.favicon %>
  <%= includes.fonts %>
</head>
<body>
<%= includes.navigation %>
<%= includes.hero %>
<%= includes.intro %>
<%= includes.testimonials %>
<%= includes['the-rh-way'] %>
<%= includes.garage %>
<%= includes.contact %>
<%= includes.footer %>
<%= includes.trackjs %>
<%= includes['google-analytics'] %>
<script type="text/javascript" src="/js/index.min.js?v=<%= data.version %>-<%= data.deployVersion %>"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
</body>
</html>
