<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= data.description %>">
  <meta name="version" content="<%= data.version %>-<%= data.buildTime %>">
  <title><%= data.appName %></title>
  <base href="/">
  <link rel="stylesheet" href="/css/<%= data.app %>.min.css?v=<%= data.version %>-<%= data.buildTime %>">
  <link rel="canonical" href="<%= data['webHost'] %>/" />
  <%= includes.favicon %>
</head>
<body>
<%= includes.navigation %>
<%= includes.hero %>
<%= includes.intro %>
<%= includes.testimonials %>
<%= includes['the-rh-way'] %>
<%= includes.garage %>
<%= includes.contact %>
<%= includes.tools %>
<%= includes.transformation %>
<%= includes.certification %>
<%= includes.footer %>
<%= includes.trackjs %>
<%= includes['facebook-remarketing'] %>
<%= includes['google-analytics'] %>
<%= includes['browser-update'] %>
<script type="text/javascript" src="/js/<%= data.app %>.min.js?v=<%= data.version %>-<%= data.buildTime %>"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaLoaded&amp;render=explicit" async defer data-sitekey="6LeOXicTAAAAAHkxMzgL0Fyj6X_RxwrqzjUcKO5z">
</script>
<script type="application/ld+json">
<%= JSON.stringify(data.jsonld) %>
</script>
</body>
</html>
