@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

$material-icon-size: 24px !default;

@mixin material-icon() {
  display: block;
  float: left;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $material-icon-size; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.success {
    color: $brand-success;
  }

  &.danger {
    color: $brand-danger;
  }

  &.warning {
    color: $brand-warning;
  }
}

.material-icons {
  @include material-icon();
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s infinite linear;
}

.material-icons + span {
  margin-left: 0.5rem;
}

.material-icons.stacked {
  position: relative;
  i {
    @include material-icon();
    position: absolute;
    top: 0;
    left: 0;
  }
}

abbr[title].material-icons {
  text-decoration: none;
  border-bottom: none;
}
