@import "module/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/ionicons/dist/scss/ionicons.scss";
@import "module/mixins";
@import "module/base";
@import "module/navbar";
@import "module/footer";
@import "module/content";
@import "module/hero";
@import "module/testimonials";
@import "module/playable-video";
@import "module/netwoRHk_tutorial";
@import "module/netwoRHk_features";
@import "module/netwoRHk_ttsa";
@import "module/netwoRHk_marketplace";
@import "module/netwoRHk_contact";

$netwoRHk-gold: #F2B646;
$netwoRHk-silver: #BABABA;
$netwoRHk-bronze: #E07D53;

.color-gold {
  color: $netwoRHk-gold;
}

.color-silver {
  color: $netwoRHk-silver;
}

.color-bronze {
  color: $netwoRHk-bronze;
}
