.span-1 {
  width: 83px;
}

.span-2 {
  width: 192px;
}

.span-3 {
  width: 301px;
}

.span-4 {
  width: 410px;
}

.span-5 {
  width: 518px;
}

.span-6 {
  width: 627px;
}

.span-7 {
  width: 736px;
}

.span-8 {
  width: 845px;
}

.span-9 {
  width: 954px;
}

.span-10 {
  width: 1062px;
}

.span-11 {
  width: 1171px;
}

.span-12 {
  width: 1280px;
}

.offset-1 {
  margin-left: 109px;
}

.offset-2 {
  margin-left: 218px;
}

.offset-3 {
  margin-left: 326px;
}

.offset-4 {
  margin-left: 435px;
}

.offset-5 {
  margin-left: 544px;
}

.offset-6 {
  margin-left: 653px;
}

.offset-7 {
  margin-left: 762px;
}

.offset-8 {
  margin-left: 870px;
}

.offset-9 {
  margin-left: 979px;
}

.offset-10 {
  margin-left: 1088px;
}

.offset-11 {
  margin-left: 1197px;
}

